.grid {
    background-color: white;

    &__row {
        transition: background-color 100ms ease-out 50ms;
        border-bottom: 2px solid #E0E0E0;
        display: grid;
        grid-template-columns: 6fr 3fr 1fr;
        text-decoration: none;
        color: black;

        &:hover{
            background-color: #E0E0E0;
        }
    }

    &__item {
        padding: 20px;
        font-size: 25px;
        text-align: start;
    }
}


.lyrics,  .user-tracks {
    margin: 60px 0;

    &__header {
        display: flex;
        justify-content: space-between;
    }
}